<mat-grid-list cols="2" rowHeight="200px">
    
    <div fxFlex *ngIf="dishes">
        <mat-grid-tile *ngFor= "let dish of dishes"  [routerLink]="['/dishdetail', dish.id]" appHighlight>
            <img src="{{BaseURL+ dish.image}}" height="200px" alt="{{dish.name}}" >
            <mat-grid-tile-footer>{{dish.name | uppercase}}</mat-grid-tile-footer>
        </mat-grid-tile>
    </div>

    <div fxFlex [hidden]="dishes ||errMess">
        <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
     <div fxFlex *ngIf = "errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
     </div>
  </mat-grid-list>
